.navbar-brand {
    color: inherit;
    text-decoration: none;
}

.icon-brand {
    margin-right: 10px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.toolbar-spacer {
  flex: 1 1 auto;
}