<mat-toolbar color="primary">
    <mat-icon class="icon-brand">flight</mat-icon>
    <a [routerLink]="['/home']" class="navbar-brand">
        <span>Flignt Booking</span>
    </a>
    <span class="toolbar-spacer"></span>
    <button mat-button fxHide.xs>Sign Up</button>
    <button mat-button fxHide.xs>Login</button>
    <button mat-button [matMenuTriggerFor]="menu" fxHide.gt-xs>
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="mat-primary">Sign Up</button>
        <button mat-menu-item>Login</button>
    </mat-menu>
</mat-toolbar>