.itinerary-list {
    margin-top: 30px;
}

.pagination-bar {
    margin-bottom: 10px;
}

.sort-controls-container {
    margin-top: 12px;
}

.sort-control {
    margin-left: 5px;
    margin-right: 5px;
}