<div class="itinerary-list">
    <!--<mat-spinner></mat-spinner>-->
    <div fxLayout.xs="column" fxLayout.gt-xs="row" class="pagination-bar">
        <div fxFlex.gt-xs="45%" class="sort-controls-container">
            <mat-select placeholder="Sort by" class="sort-control" (change)="handleSortByChange($event)"
                [(ngModel)]="sortBy">
                <mat-option [value]="'TotalAmount'">Price</mat-option>
                <mat-option [value]="'AirlineName'">Airline</mat-option>
            </mat-select>
            <mat-select placeholder="Sort order" class="sort-control" (change)="handleSortDirectionChange($event)"
                [(ngModel)]="sortOrder">
                <mat-option [value]="'1'">Ascending</mat-option>
                <mat-option [value]="'-1'">Descending</mat-option>
            </mat-select>
        </div>
        <div fxFlex.gt-xs="55%" fxLayoutAlign.xs="start" fxLayoutAlign.gt-xs="end" fxFlex.xs="1">
            <mat-paginator #itineraryListPager 
                [length]="itineraryListResult?.TotalCount"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
            </mat-paginator>
        </div>
    </div>
    <div *ngFor="let itinerary of itineraryListResult?.ItineraryPage">
        <app-itinerary [data]="itinerary"></app-itinerary>
    </div>
</div>