<div class="itinerary-list">
    <!--<md-spinner></md-spinner>-->
    <div fxLayout.xs="column" fxLayout.gt-xs="row" class="pagination-bar">
        <div fxFlex.gt-xs="45%" class="sort-controls-container">
            <md-select placeholder="Sort by" class="sort-control" (change)="handleSortByChange($event)"
                [(ngModel)]="sortBy">
                <md-option [value]="'TotalAmount'">Price</md-option>
                <md-option [value]="'AirlineName'">Airline</md-option>
            </md-select>
            <md-select placeholder="Sort order" class="sort-control" (change)="handleSortDirectionChange($event)"
                [(ngModel)]="sortOrder">
                <md-option [value]="'1'">Ascending</md-option>
                <md-option [value]="'-1'">Descending</md-option>
            </md-select>
        </div>
        <div fxFlex.gt-xs="55%" fxLayoutAlign.xs="start" fxLayoutAlign.gt-xs="end" fxFlex.xs="1">
            <md-paginator #itineraryListPager 
                [length]="itineraryListResult?.TotalCount"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
            </md-paginator>
        </div>
    </div>
    <div *ngFor="let itinerary of itineraryListResult?.ItineraryPage">
        <itinerary [data]="itinerary"></itinerary>
    </div>
</div>