.search-summary {
    margin-top: 10px;
}

.summary-locations {
    margin-top: 20px;
}

.summary-locations-icon {
    padding-left: 12px;
    margin-left: 10px;
    margin-right: 10px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.summary-departtime {
    margin-top: 10px;
}

.summary-returntime {
    margin-top: 10px;
}

.summary-editsearch {
    margin-top: 20px;
}