<md-card class="search-summary mat-subheading-2">
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
        <div fxFlex.gt-xs="30%">
            <div class="summary-locations">
                <span>{{ searchFilter.departureAirportCode }}</span>
                <md-icon class="summary-locations-icon">import_export</md-icon>
                <span>{{ searchFilter.returnAirportCode }}</span>
            </div>
        </div>
        <div fxFlex.gt-xs="30%">
            <div class="summary-departtime">
                <span><strong>Departure</strong></span>
                <div>{{ searchFilter.departureDate | date }}</div>
            </div>
        </div>
        <div fxFlex.gt-xs="30%">
            <div class="summary-returntime">
                <span><strong>Return</strong></span>
                <div>{{ searchFilter.returnDate | date }}</div>
            </div>
        </div>
        <div fxFlex.gt-xs="10%">
            <div class="summary-editsearch">
                <button md-mini-fab (click)="handleEdit()"><md-icon>edit</md-icon></button>
            </div>
        </div>
    </div>
</md-card>
